.footer {
    padding: 4rem 0;
    background-color: #000;
    color: var(--color-text-muted);
    font-size: 0.9rem;
    margin-top: 4rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    display: flex;
    gap: 1.5rem;
}

.social-links a:hover {
    color: var(--color-accent);
}